<!DOCTYPE html>
<html>
        <head>
                <script src="angular.js"></script>
                <script src="juci.js"></script>
                <script src="uci.js"></script>
        </head>

        <body ng-controller="ctr1">
                <h2>Angular test</h2>
                <h3>1+1={{[1,2].toString()}}</h3>
                <li ng-repeat="i in [1,2,3,4,5]">
                        <a href="" ng-click="onc($index)">{{$index}}</a>
                </li>
        </body>
        <script>
                var app=angular.module("myapp",[],function(){
                });   

                app.controller("ctr1",function($scope){
                    
                    $scope.num = 1;

                    $scope.onc=function(index)
                    {
                        $scope.num=index;
                        console.log($scope);
                    }
                
                });
                
                angular.element(document).ready(function(){
                        console.log("document ready");
                        window.$juci.$init('alan',35);
                        angular.bootstrap(document,['myapp']);
                });
        </script>
</html>
